/* Page 3 CSS */


.CoverPage3OuterBox {
    display: flex;
    width: 100%;
    padding: 0px 13.542% 1.667% 13.542%;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.CoverPage3InnerBox {
    display: flex;
    width: 100%;
    padding: 10.667% 0%;
    flex-direction: column;
    align-items: center;
    gap: 112px;
    flex-shrink: 0;
}

.CoverPage3TextBoxRow1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.CoverPage3TextBox {
    display: flex;
    justify-content: start;
    width: 63.884%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.CoverPageTextBox1 {
    color: #FF6551;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* h6 */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 171.429% */
    letter-spacing: 0.2px;
}

.CoverPageTextBox2 {
    color: #252B42;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* h2 */
    font-size: 40px;
    font-style: normal;
    line-height: 1.5;
    /* 125% */
    letter-spacing: 0.2px;
}

.CoverPageTextBox3 {
    color: #737373;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* paragraph */
    font-size: 15px;
    font-style: normal;
    line-height: 1.5;
    /* 142.857% */
    letter-spacing: 0.2px;
}

.CoverPage3TextBoxRow2 {
    display: flex;
    align-items: flex-start;
    gap: 2.86%;
}

.TextBoxRow2Col {
    display: flex;
    /* flex-wrap: wrap;
    flex-flow: column; */
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.Row2Col1Img {
    width: 239px;
    height: 300px;
    background: lightgray -266.495px 0px / 242.745% 100% no-repeat;
}

.Row2ColfloatImg {
    display: inline-flex;
    padding: 0px 4.17%;
    align-items: center;
    border-radius: 3px;
    background: #E74040;
    width: auto;
    height: auto;
    position: absolute;
    top: 3.8%;
    left: 7.7%;

    /* light-drop-shadow */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.Row2ColfloatImg h6 {
    margin-bottom: 0;
    color: #FFF;
    text-align: center;

    /* h6 */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 171.429% */
    letter-spacing: 0.2px;
}

.Row2ColFloatBtnBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 38.5%;
    left: 20.5%;
}

.Row2ColFloatBtn {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    padding: 12.5%;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 44.786px;
}

.FloatBtnIcon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.CardTextBox {
    display: flex;
    padding: 10.42% 10.42% 14.585% 10.42%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: auto;
    height: auto;
}

.CardTextRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.CardRow1Text p {
    width: auto;
    height: auto;
    color: #FF6551;

    /* link */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 171.429% */
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.CardRow1Star {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    background: #26335D;
    width: auto;
    height: auto;
}

.StarImg {
    width: 16px;
    height: 16px;
}

.StarRating {
    color: #FFF;
    width: auto;
    height: auto;
    /* small */
    font-size: 12px;
    font-style: normal;
    line-height: 1.5;
    /* 133.333% */
    letter-spacing: 0.2px;
}

.CardRow2TextH5 {
    color: #252B42;
    width: auto;
    height: auto;

    /* h5 */
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 0;
}

.CardRow3TextParagraph {
    color: #737373;
    width: auto;
    height: auto;

    /* paragraph */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.CardRow4Sales {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
}

.downloadicon {
    width: 16px;
    height: 16px;
}

.SalesText {
    color: #737373;
    width: auto;
    height: auto;

    /* h6 */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 171.429% */
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.CardRow5Prices {
    display: flex;
    padding: 5px 3px;
    align-items: flex-start;
    gap: 5px;
    width: auto;
    height: auto;
}

.leftPriceH5 h5 {
    color: #BDBDBD;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* h5 */
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.1px;
}

.rightPriceH5 h5 {
    color: #26335D;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* h5 */
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.1px;
}

.CardRow6Button {
    display: flex;
    padding: 5.265% 10.53%;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid #FF6551;
    width: auto;
    height: auto;
}

.Row6BtnTextH6 h6 {
    color: #FF6551;
    width: auto;
    height: auto;
    margin-bottom: 0;

    /* h6 */
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /* 171.429% */
    letter-spacing: 0.2px;
}

.Row6BtnArrow {
    width: 9.143px;
    height: 16px;
}




@media screen and (max-width: 480px) and (min-width:320px) {

    /* Page 3 Media */



    .CoverPage3OuterBox {
        padding: 20px 0px;
    }

    .CoverPage3InnerBox {
        padding: 0px 12px;
        gap: 0;
    }

    .TextBoxRow2Col {
        padding: 20px 0;
        margin: 0 20px;
    }

    .Row2ColfloatImg {
        position: absolute;
        top: 6.4%;
        left: 7.7%;
    }

    .Row2Col1Img {
        width: 260px;
        height: 320px;
    }

    .Row2ColFloatBtnBox {
        position: absolute;
        top: 44.5%;
        left: 22%;
    }

    .CardTextBox {
        padding: 0;
        gap: 0;
        width: 260px !important;
    }

    .CardTextRow1 {
        display: flex;
        padding: 10px 0;
        margin: 0;
    }

    .CardRow1Text p {
        padding: 5px 10px;
        line-height: 1.5;
    }

    .CardRow2TextH5 {
        padding: 5px 10px;
        line-height: 1.5;
    }

    .CardRow3TextParagraph {
        padding: 5px 10px;
        line-height: 1.5;
    }

    .CardRow4Sales {
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 12px;
    }

    .SalesText {
        line-height: 1.5;
        font-size: 12px;
    }

    .CardRow5Prices {
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 12px;
    }

    .CardRow6Button {
        padding: 3px 10px;
        margin: 10px;
        font-size: 12px;
    }

}

@media screen and (max-width: 1023px) and (min-width:600px) {

    /* Page 3 Media @768px  */


    .CoverPage3OuterBox {
        padding: 30px 0px !important;
    }

    .CoverPage3InnerBox {
        padding: 0px 36px !important;
        gap: 0;
    }

    .CoverPage3TextBoxRow2 {
        padding: 20px 0px;
        gap: 10px !important;
    }

    .CoverPage3TextBox {
        gap: 0 !important;
    }


    .CarasolItemDiv {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .TextBoxRow2Col {
        width: 260px !important;
        height: 630px !important;
    }

    .Row2Col1Img {
        height: 300px !important;
        width: 260px;
    }

    .Row2ColfloatImg h6 {
        font-size: 12px;
        line-height: 1.5;
    }

    .Row2ColfloatImg {
        position: absolute;
        top: 3%;
        left: 8%;
    }

    .Row2ColFloatBtnBox {
        gap: 10px;
        position: absolute;
        top: 38.5%;
        left: 25%;
    }

    .Row2ColFloatBtn {
        width: 35px;
        height: 35px;
    }

    .CardTextBox {
        padding: 15px;
    }

}